<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load user_tags %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <div id="sticky_top" class="sticky-top">
        <div id="header_area" class="header-area">
            <div id="header_area_user_panel" class="header-area-user-panel">
                {% if user.is_authenticated %}
                <a class="link-highlighted" href="{% url 'logout' %}">
                    Logged as <b>{{ user.username }}</b> // click to logout
                </a>
                {% else %}
                <a class="link-highlighted" href="{% url 'login' %}">
                    You are not logged in, click to login
                </a>
                {% endif %}
            </div>
            <pre>
 ______   __  __     ______     ______     ______
/\  == \ /\ \_\ \   /\  == \   /\  __ \   /\__  _\
\ \  _-/ \ \____ \  \ \  __<   \ \  __ \  \/_/\ \/
 \ \_\    \/\_____\  \ \_\ \_\  \ \_\ \_\    \ \_\
  \/_/     \/_____/   \/_/ /_/   \/_/\/_/     \/_/
            </pre>
        </div>
        {% block under_header %}
        {% endblock %}
    </div>
    {% block main_content %}
    {% endblock %}
    <div id="footer_area" class="footer-area">
        <div class="footer-area-footer-info">
            <a class="link-highlighted" href="{% url 'index' %}">Homepage </a>|
            <a class="link-highlighted" href="{% url 'logout' %}">Logout </a> |
            Associated clients: {{ associated_clients_count }}
        </div>
        <div class="footer-area-footer-text">Pyrat 3.0 (c) 2019, powered by:</div>
        <div class="footer-area-footer-img">
            <img src="{% static 'img/python_logo.jpg' %}" height="60px">
            <img src="{% static 'img/footer_logo.jpg' %}" height="60px">
        </div>
    </div>
</body>
</html>