<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load user_tags %}
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <title>pyrat3 :: client list</title>
</head>
<body>
    <div id="client_table">
        <div id="refresh_counter" class="refresh_counter">Table refreshed!</div>
        <table class="client-table">
            <tr>
                <th id="client_table_pos" class="client-table-s">Pos</th>
                <th id="client_table_client_id" class="client-table-l">Client ID</th>
                <th id="client_table_pc_uuid" class="client-table-xxl">PC UUID</th>
                <th id="client_table_join_date" class="client-table-xl">Join date</th>
                <th id="client_table_job_id" class="client-table-xl">Job ID</th>
                <th id="client_table_job" class="client-table-l">Job</th>
                <th id="client_table_job_args" class="client-table-xl">Job args</th>
                <th id="client_table_job_result">Job result</th>
                <th id="client_table_ping" class="client-table-m" >Ping</th>
                <th id="client_table_status" class="client-table-m">Status</th>
                <th id="client_table_files" class="client-table-m">Files</th>
            </tr>
            {% for client in clients %}
            <tr id="client_table_{{ client.client_id }}_main_row" class="client-table-main-row">
                <td><a onclick="showOrHideClientDetails(this);">{{ forloop.counter }}</a></td>
                <td><a onclick="showOrHideClientDetails(this);">{{ client.client_id }}</a></td>
                <td><a onclick="showOrHideClientDetails(this);">{{ client.pc_uuid }}</a></td>
                <td><a onclick="showOrHideClientDetails(this);">{{ client.join_datetime|date:"Y-m-d H:i:s" }}</a></td>
                <td>
                    <a onclick="showOrHideClientDetails(this);">
                    [{{ client.job_id }}]
                    <br>
                    ({{ client.job_datetime|date:"Y-m-d H:i:s" }})
                    </a>
                </td>
                <td><a onclick="showOrHideClientDetails(this);">{{ client.job }}</a></td>
                <td><a onclick="showOrHideClientDetails(this);">{{ client.job_args|pretty_args|safe }}</a></td>
                <td>
                    {% if client.job_result|length > 110 %}
                    <a class="job-result-popup-link" href="#job_result_popup"
                       onclick="showJobResultPopup('{% spaceless %} {{ client.job_result|linebreaksbr|force_escape }} {% endspaceless %}');">
                        {{ client.job_result|linebreaks|truncatechars:"110" }}
                        <b>Click for more</b>
                    </a>
                    {% else %}
                    <a onclick="showOrHideClientDetails(this);">
                    {{ client.job_result|linebreaks }}
                    </a>
                    {% endif %}
                </td>
                {% with client.last_activity_datetime|timediff as ping %}
                <td>
                    <a onclick="showOrHideClientDetails(this);">
                    {% if ping < 16 %}
                    <span class="green">{{ ping }}</span>
                    {% elif ping < 100 %}
                    <span class="orange">{{ ping }}</span>
                    {% else %}
                    <span class="red">Offline</span>
                    {% endif %}
                    </a>
                </td>
                <td>
                    <a onclick="showOrHideClientDetails(this);">
                    {% if client.job_id in client.job_result and ping < 16 %}
                    IDDLE
                    {% elif ping > 100 %}
                    ------
                    {% else %}
                    WORKING
                    {% endif %}
                    </a>
                </td>
                {% endwith %}
                <td><a href="{% url 'client_files' client.client_id %}" target="_blank">FILES</a></td>
            </tr>
            <tr id="client_table_{{ client.client_id }}_details_row" class="client-table-details-row">
                <td></td>
                <td><b>Country:</b> {{ client.country }}</td>
                <td><b>MAC:</b> {{ client.mac }} </td>
                <td colspan="2"><b>OS:</b> {{ client.os }}</td>
                <td colspan="2"><b>Name:</b> {{ client.name }}</td>
                <td><b>Ext IP:</b> {{ client.ext_ip }}</td>
                <td colspan="3"><b>Int IP:</b> {{ client.int_ip }}</td>
            </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
        <div class="client-table-pagination">
        {% if page_obj.has_previous %}
            <a class="change-page" href="{% url 'client_table' %}?page={{ page_obj.previous_page_number }}">previous</a>
        {% else %}
            <span class="change-page-inactive">previous</span>
        {% endif %}
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a class="change-page" href="{% url 'client_table' %}?page={{ page_obj.next_page_number }}">next</a>
        {% else %}
            <span class="change-page-inactive">next</span>
        {% endif %}
        </div>
        {% endif %}
        <script src="{% static 'js/cli.js' %}"></script>
    </div>
</body>
</html>